# ACC Schedule Builder

In [2]:
# Establishing today's date so that we can identify the game schedule to reference
%run ../Production/01_ACC_Dependencies.ipynb
today = date.today()

todays_date = today.strftime("%b %#d, %Y")

In [4]:
url = 'https://www.sports-reference.com/cbb/conferences/acc/men/2025-schedule.html'

In [7]:
# This code block is reaching out the selected url to grab today's basketball schedule
data = pd.read_html(url)
table = data[0]
table['Date'] = table['Date'].str[5:]
todaytable = table[['Date','Visitor/Neutral','Home/Neutral',]]
todaytable = todaytable[todaytable.Date == todays_date]

In [9]:
todaytable

            Date Visitor/Neutral Home/Neutral
49  Jan 13, 2025  Boston College   Notre Dame

In [13]:
teamList = todaytable['Visitor/Neutral'].to_list() + todaytable['Home/Neutral'].to_list()

In [15]:
mappingDict = {
                'Boston College':'boston-college',
                'NC State':'north-carolina-state',
                'California':'california',
                'Duke':'duke',
                'Florida State':'florida-state',
                'Georgia Tech':'georgia-tech',
                'Houston':'houston',
                'Louisville':'louisville',
                'Maryland':'maryland',
                'Miami (FL)':'miami-fl',
                'North Carolina':'north-carolina',
                'Northwestern':'northwestern',
                'Notre Dame':'notre-dame',
                'Pittsburgh':'pittsburgh',
                'South Carolina':'south-carolina',
                'Southern Methodist':'southern-methodist',
                'Stanford':'stanford',
                'Syracuse':'syracuse',
                'Virginia':'virginia',
                'Virginia Tech':'virginia-tech',
                'Wake Forest':'wake-forest',
                'Clemson':'clemson'
                }

updatedTeamList = [mappingDict.get(n, n) for n in teamList]

### End of Notebook